<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900755648587-s0thbt38tlnq7nh0t4k73fhmkj0t5hnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900755648587-s0thbt38tlnq7nh0t4k73fhmkj0t5hnt</string>
	<key>API_KEY</key>
	<string>AIzaSyAxZli-Nvv4Rb_AmDtdm0HZTjvbnT__zvk</string>
	<key>GCM_SENDER_ID</key>
	<string>900755648587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-bb840</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-bb840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900755648587:ios:d8ebc61e156d8fc4cc1dce</string>
</dict>
</plist>